
a {
  text-decoration: none;
}


.layout {
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: 25% 75%;
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5%;
  width: 10rem;
}

.social {
  list-style: none;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  & > li {
    transition: all .2s;
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 50%;
      height: 6rem;
      width: 6rem;

    & svg {
      filter: brightness(0) invert(1);
      // fill: var(--color-secondary);
      transition: all .4s;
    }

    &:hover {
      background-color: transparent;

      & svg {
        transform:  scale(1.5);
        filter: brightness(1) invert(0);
      }
    }

  }

  &:hover li:not(:hover){
    transform: scale(.8);
  }
}

.sidebar {
  background-color: var(--color-primary);
  box-shadow: 0 1.5rem 4rem black;
  width: 80%;
  justify-self: end;
  display: grid;
  grid-template-rows: repeat(100vh);
  justify-content: center;
  align-items: center;

  &__header {
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    text-shadow: var(--text-shadow);
    font-size: var(--font-size-large);
  }
}

.content {
  display: grid;
  grid-template-rows: repeat(100vh);
  color: var(--color-primary);
}

.banner {
  height: 100vh;
  display: flex;
  padding: 10rem 20rem;
  flex-direction: column;
  
  &__heading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: var(--color-primary) solid 2px;

    & > div {
      & > h1 {
        font-size: var(--font-size-xlarge);
      }
      & > h2 {
        font-size: var(--font-size-large);
      }
    }
    & > p {
      font-size: var(--font-size-default);
      color: var(--color-white);
      // color: var(--color-black);
      line-height: var(--line-height-med);
    }
    & > h3 {
      font-size: 4rem;
    }
  }
}


.projects {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10rem 5rem;

    &__list {
      width: 100%;
      height: 100%;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

    & :nth-child(odd) {
      align-self: flex-start;
    }

    & :nth-child(even) {
      align-self: flex-end;
    }

    }
}

.about-me {
    height: 100vh;
    color: white;
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	50% { background-position: 0 100%; }
	100% { background-position: 0 0; }
}
